<!DOCTYPE html>
<html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'> -->
    <title>{{.Title}}</title>
</head>
<header>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <ul class="navbar-nav flex-grow">
            <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
            <!-- <li><a href="scale">Scales &amp; Arpeggios </a></li>
            <li><a href="duets">Duets</a></li> -->
        </ul>
    </nav>
    <div class="bg">
        <div class="mainbody">
            <h1>{{.Title}}</h1>

            <p>My First Web App written in Go. </p>
        </div>
    </div>
</body>

</header>
 
</html>