<!DOCTYPE html>
<html>

<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>{{.Title}}</title>
</head>
<header>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">COVID-19</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
        <ul class="navbar-nav flex-grow">
            <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="usdata">U.S. Data</a></li>
        </ul>
        </div>
    </nav>
        <div class="container">
            <h1>{{.Title}}</h1>

            <p>My First Web App written in Go. </p>
        </div>
</body>

</header>
 
</html>